page-modify-name {

  ion-select{
    width:100%;
    max-width: 70%;
    align:left;
    text-align: left;
  }
  ion-select select{
    left: auto;
  }
  ion-option{
    align:left;
    text-align: left;

  }

}
